<div class="row g-2 mb-2 animate__animated animate__fadeIn">
    <div class="col">
        <input type="text" name="category_name[]" class="form-control form-control-sm" placeholder="Category Name">
    </div>
    <div class="col">
        <input type="number" name="category_amount[]" class="form-control form-control-sm" placeholder="K0.00">
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-sm btn-light text-danger" onclick="this.closest('.row').remove()"><i class="fas fa-times"></i></button>
    </div>
</div>
