{% extends 'Home/base.html' %}


{% block content %}
<h1>Welcome</h1>
<div class="mx-auto fs-6">
    <p class="">

        Hi, living in PNG is tough, the cost of living and prices of goods and services are going up. 
        But what if with a click of a button you could find the cheapest and best products?
    </p>
    <p class="">
        As way to help Papua New Guineans I built this site. Now you can find the best products and services at the best prices with ease.
        <br> <b class=''>But we need your help to make this platform work.</b>
    </p>

        <h2>How can you help?</h2>
    <p>
        The best way to help is to use this website as intended.
        <ol>
            <li>Search for products that you want.</li>
            <li>Edit/curate the information of the product. if it is correct. Verify it again.</li>
            <li>If the product is not listed. get it listed by posting it yourself.</li>
            <li>Recommend the site to your friends so they can use it.</li>
        </ol>
    </p>



    <h2>More features incoming</h2>

</div>

{% endblock content %}
