{% extends 'home/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Map</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="map" style="height: 400px;"></div>
    </div>
    <!-- /.card-body -->
</div>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([{{ location.latitude }}, {{ location.longitude }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map)
            .bindPopup('{{location }}');
    </script>

<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

{% endblock content %}