{% extends 'Home/base.html' %}
{% load thumbnail %}
{% load static %}
{% load humanize %}

{% block subscriptions_active %}active
{% endblock subscriptions_active %}


{% block content %}
<div class="container-fluid mt-2">

  {% if request.user.is_authenticated %}
    <h5><a href="{% url 'Profile:profile' %}">{{request.user.username}}</a></h5>
  {% endif %}

{% if products %}
  <h4 class="text-center">My Product watch list</h4>

      <div class="row">
  {% for product in products %}
        <div class="col-lg-4">
          <div class="card my-1 shadow-sm ">
            <div class="card-header col m-0 p-0">
                <div class="row ">
                  <div class="col-7">
                    <p class="font-weight-bold m-0 p-0 ml-1" >{{product.name}}</p>
                    {% comment %} {% if product.is_recent_update %} {% endcomment %}
                  </div>
                  <div class="col-5">
                    <small class="float-right mr-1 p-0 mb-0  text-muted">[{{product.date_updated|naturaltime}}]</small>
                    {% comment %} {% else %} {% endcomment %}
                    {% comment %} <small class="text-right ml-3 p-0 mb-0">[{{product.date_updated.date|naturaltime}}]</small> {% endcomment %}
                    {% comment %} {% endif %} {% endcomment %}
                  </div>
                </div>
            </div>      
            <div class="card-body pb-1 mb-0 p-1">
                  <a href="{% url 'Product:detail' product.id %}"class="stretched-link" ></a>
                  <div class="row">
                    <!-- business title -->
                    <div class="col-9">  
                      {% comment %} <h6 class="text-responsive"style="" >{{business.name}}</h6>
                      <p>{{business.location}}</p> {% endcomment %}
                        {% if product.price %}
                          <small class="text-responsive m-0 pb-0"><b>Price:</b> K {{product.price|floatformat:2|intcomma}}</small><br>
                        {% endif %}
                        {% if product.business %}
                          <small class="text repsonsive m-0 p-0"  ><b>Vendor:</b> {{product.business.name}}</small><br>
                        {% endif  %}
                        {% if product.business.location %} 
                          <small class="text repsonsive m-0 p-0"  ><b>Location:</b> {{product.business.location}}</small><br>
                        {% endif %}
                    </div>

                    <!-- Product image -->
                    {% if product.FirstPhoto.photo  %}
                      
                      <div class="col-3 ">
                        {% thumbnail product.FirstPhoto.photo "50x50" as prodImg %}
                          <img class=" img img-fluid rounded float-right" src={{prodImg.url}} alt={{product.name}} style="max-width:85px; margin-left:10px;">
                        {% endthumbnail %}
                      </div>
                    {% endif %}
                  </div>
              </div>    
          </div>
      </div>
    {% endfor %}
    </div>

{% else %}
<h1>No subscriptions yet</h1>
{% endif %}

{% endblock content %}